.name{
    color:#D6CCC2;
    font-size:100px;
    text-align:center;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200;
    text-align: center; }
    #mydiv {
        color:#D6CCC2;
    font-size:100px;
    text-align:center;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    }